@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroundColor: #292929;
  --primaryColor: white;
  --primaryTextColor: white;

  --headlineBig: clamp(5rem, 9.9vw, 15rem);
  --headlineMedium: clamp(1rem, 2vw, 4rem);
  --headlineSmall: clamp(0.6rem, 0.75vw, 1.3rem);
  --spacing: clamp(0.9rem, 0.75vw, 1.3rem);
}

@font-face {
  font-family: "MAINFONT";
  src: url("../../public/fonts/mainFont.otf");
}

@font-face {
  font-family: "FONT2";
  src: url("../../public/fonts/font2.ttf");
}

@font-face {
  font-family: "FONT3";
  src: url("../../public/fonts/font3.otf");
}

body {
  background-color: #ec9e89;
}

.hero__header {
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.hero__header h1 {
  color: var(--primaryTextColor);
}



.scroll-section-outer {
  overflow: hidden;
}

.scroll-section-inner {
  height: 100vh;
  width: 400vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scroll-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-section h3 {
  color: var(--primaryTextColor);


  text-transform: uppercase;
}

.footer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(236,158,137);
background: linear-gradient(180deg, rgba(236,158,137,1) 35%, rgba(176,255,0,0.24693627450980393) 100%);
}

.footer span {

  font-size: var(--headlineBig);
  color: var(--primaryTextColor);
}